//must have

$article-color: #4C4A55;
$h1-color: #4C4A55;
$h2-color: #4C4A55;
$h3-color: #4C4A55;
$accent-1-color: #52E4B0;
$accent-2-color: #5AF8BF;
$background-color: #E5E5E5;

$black: #4C4A55;
$white: #e7e7e7;
$transparent: rgba(255, 255, 255, 0);
$green: rgba(0, 228, 140, 1);
$red: rgba(228, 57, 53, 1);
$blue: rgba(65, 67, 149, 1);
$gray: rgba(220, 220, 220, 1);
$purple: rgba(145, 154, 226, 1);

$article_black: rgba(36, 41, 46, 1);
$d_purple: rgba(90, 93, 195, 1);
