.first {
  .center {
    @include width(1300);
    height: fit-content;
    min-height: 45vh;
    .title {
      position: relative;
      min-height: 45vh;
      h2, h3, p {
        white-space: nowrap;
      }
      .black {
        background: $h3-color;
        color: $background-color;
        padding: 4px 20px;
        padding-top: 2px;
        border-radius: 5px;
      }
      .mini {
        font-weight: 300;
        text-transform: lowercase;
      }
      .right {
        text-align: right;
      }
      .custom-button {
        position: absolute;
        bottom: 0;
      }
    }

    .logo {
      @include width(416);
      max-height: auto;
      max-height: auto;
    }

  }
}
