$ubuntu: 'Ubuntu', sans-serif;

html {
	    font-family: $ubuntu;
			overflow-x: hidden;
			width: 100vw;
			background: $background-color;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      h2, h3, h4 {
        font-weight: 500;
      }
      p, h2, h3, h4  {
      }
      p, a, input, textarea, button, select {
        @include FontLineSize(0.4, 0.4, 0.2, 20, 10);
      }

			a, input, button, select, .js-list-item, .js-toggle-light, .js-toggle-popup, .i-group, .navigator, .file-loader label{
				cursor: pointer;
			}
      h2 {
        @include FontLineSize(0.5, 0.5, 0.0, 120, 8);
				text-transform: uppercase;
      }
      h3 {
        @include FontLineSize(0.5, 0.5, 0.0, 30, 8);
				font-weight: 400;
				span.green {
					background: $accent-1-color;
					font-weight: 500;
					padding: 2px 4px;
					padding-bottom: 4px;
					border-radius: 3px;
				}
      }
			body {
				position: relative;
			}
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}

			/* Firefox */
			input[type=number] {
			  -moz-appearance: textfield;
			}
			select {
				&:required {
          box-shadow:none;
        }
			}
}

.black-logo { display: none !important; }
.white-logo { display: block !important; }

.main-container {
	width: 100vw;
	height: 100vh;
	.content {
		width: 100%;
		height: 100%;
	}
}

.custom-button {
	background: $accent-1-color;
	color: $article-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include width(227, 0.8);
	height: RelativeUnits(64, 0.8);
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
}
.custom-button:hover {
	background: $accent-2-color;
	color: $article-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include width(227, 0.8);
	height: RelativeUnits(64, 0.8);
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
}
.owl-item {
	height: 100vh;
}
.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: RelativeUnits(16, 0.5);
	background: transparent;
	.complete {
		height: 100%;
		width: 25%;
		background: $accent-1-color;
	}
}
.warning {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	justify-content: center;
	align-items: center;
	background: $background-color;
	z-index: 9999;
	flex-direction: column;
	display: none;
	h3 {
		font-size: 16px;
	}
}

@mixin _phone-big-vertical {
    @media (max-height: 480px){
        @content;
    }
}
.z-index { z-index: 3 !important; }
.navigator {
  display: flex;
  width: 133px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  background: $black;
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 68px);
  z-index: 0;
  @include _phone-big-vertical {
    display: none;
  }
  i {
    color: $white;
    font-size: 14px;
    &:hover {
      color: $accent-1-color;
    }
  }
  .square {
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background: $white;
  }
}
