$ubuntu: 'Ubuntu', sans-serif;

html {
	    font-family: $ubuntu;
			overflow-x: hidden;
			width: 100vw;
			background: $background-color;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      h2, h3, h4 {
        font-weight: 500;
      }
      p, h2, h3, h4  {
      }
      p, a, input, textarea, button, select {
        @include FontLineSize(0.3, 0.3, 0.4, 20, 10);
      }
      h2 {
        @include FontLineSize(0.5, 0.5, 0.0, 120, 8);
				text-transform: uppercase;
      }
      h3 {
        @include FontLineSize(0.4, 0.4, 0.2, 30, 8);
				font-weight: 400;
				span.green {
					background: $accent-1-color;
					font-weight: 500;
					padding: 2px 4px;
				}
      }
			body {
				position: relative;
			}
}

.main-container {
	width: 100vw;
	height: 100vh;
	.content {
		width: 100%;
		height: 100%;
	}
}

.custom-button {
	background: $accent-1-color;
	color: $article-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include width(227, 0.8);
	height: RelativeUnits(64, 0.8);
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
