@import "_colors.scss";
@import "_fonts.scss";

@import "general.scss";
@import "sidebar.scss";
@import "first.scss";
@import "second.scss";
@import "third.scss";
@import "last.scss";
@import 'node_modules/owl.carousel/src/scss/owl.carousel.scss';
