.second {
  .center {
    .first {
      margin-top: RelativeUnits(80, 0.99);
    }
    .string {
      display: flex;
      justify-content: center;
      align-items: center;
      @include width(400, 0.6);
      margin-bottom: RelativeUnits(30, 0.7);

      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: RelativeUnits(64, 1);
        height: RelativeUnits(64, 1);
        border-radius: RelativeUnits(10, 0.7);
        background: $black;
        i {
          color: $accent-1-color;
          font-size: RelativeUnits(32, 1);
        }
      }
      h3 {
        font-weight: 500;
        min-width: RelativeUnits(350, 0.7);
        padding-left: RelativeUnits(30, 0.7)
      }
    }
  }
}
