.sidebar {
  top: 0;
  right: 0;
  #group3 {
    @include _phone-big-vertical {
      display: none;
    }
  }
}

  @keyframes blup {
    25% {
      background: rgba(82, 228, 176, 0.5);
    }
    100% {
      background: rgba(82, 228, 176, 1);
    }
  }

  @-webkit-keyframes blup {
    25% {
      background: rgba(82, 228, 176, 0.5);
    }
    100% {
      background: rgba(82, 228, 176, 1);
    }
  }

.sidebar, .social-mobile {

  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $article-color;
  position: absolute;
  z-index: 3;
  i {
    font-size: RelativeUnitsComplex(24, 0.25, 0.25);
    color: $white;
  }
  .i-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .wrap, .wrap-w-t {
      width: 100%;
      height: RelativeUnitsComplex(72, 0.25, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover, &.active {
        animation-name: blup;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        -webkit-animation-name: blup;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        p, i {
          color: $black;
        }
      }
    }
    .wrap-w-t {
      height: RelativeUnitsComplex(81, 0.25, 0.25);
      p {
        color: $white;
        font-size: RelativeUnitsComplex(14, 0.25, 0.25);
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }
  #group1 {
    height: RelativeUnitsComplex(72, 0.25, 0.25);
  }
  #group2 {
    height: RelativeUnitsComplex(486, 0.25, 0.25);
  }
  #group3 {
    height: RelativeUnitsComplex(217, 0.25, 0.25);
    margin-bottom: 20px;
  }
}

.social-mobile {
  top: 0;
  left: 0;
  width: RelativeUnitsComplex(72, 0.25, 0.25);
  justify-content: center;
  display: none;
  @include _phone-big-vertical {
    display: flex;
  }
}

.sidebar-show {
  width: RelativeUnitsComplex(152, 0.25, 0.25);
}
.sidebar-hide {
  width: RelativeUnitsComplex(72, 0.25, 0.25);
  p { display: none; }
}

.navigator {
  display: flex;
  width: 133px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  background: $black;
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 68px);
  z-index: 10;
  @include _phone-big-vertical {
    display: none;
  }
  i {
    color: $white;
    font-size: 14px;
    &:hover {
      color: $accent-1-color;
    }
  }
  .square {
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background: $white;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: RelativeUnits(60, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 500;
  }
}
