.third {
  .center {

    .line {
      display: flex;
      //justify-content: space-between;
      align-items: center;
      margin-left: RelativeUnits(105, 0.6);
      margin-bottom: RelativeUnits(10, 0.5);
      .square {
        width: RelativeUnits(15, 0.3);
        height: RelativeUnits(15, 0.3);
        border-radius: 2px;
        background: $accent-1-color;
        margin-right: RelativeUnits(40, 0.3);
      }
    }
    .first {
      margin-top: RelativeUnits(80, 1.0);
    }

  }
}
